@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/

:root {
    --main-bg-color: #5d6768;
    --primary-bg-color:#f0f8ff;
    --secondary-bg-color: #e6f0f3;
    --highlight-bg-color: #dbe9f4;
    --primary-accent-color:#4b6584;
    --secondary-accent-color: #6e7f80;
    --highlight-accent-color: #2c3e50;
    --highlight-second-accent-color: #a3b18a;
    --button-color-bg: #f39c12;
    --primary-font: "Bitter", sans-serif;
    --secondary-font: "Noto Sans", sans-serif;
}

/*Global Styles*/

body {
    font-family: var(--primary-font);
    background-color: #e6f0f3;
}

h1, h2, h3, h4, h5 {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-font {
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

.container-wide {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*Navbar*/

.logo {
    height: 120px;
    width: auto;
}

#navbar {
    background-color: var(--main-bg-color);
}

#navbar .nav-link {
    color:var(--secondary-bg-color);
}

#navbar .nav-link:hover {
    color: var(--button-color-bg);
}

/*Hero Section*/

.hero-section {
    position: relative;
    min-height: 80vh;
    background-image: url('/assets/images/maincribgoch1600px.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }
  
  .hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1); /* overlay for contrast */
    z-index: 1;
  }
  
  .hero-section .container {
    position: relative;
    z-index: 2; /* bring text above overlay */
  }

  .cta-btn {
    background-color: var(--button-color-bg);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .cta-btn:hover {
    background-color: #f39c12;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }

  /*Region Cards*/

  .card-img-top {
    max-height: 160px;
    object-fit: cover;
  }

  .region-card {
    margin: 5px;
    justify-content: center;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.fixed-title-height {
  height: 3rem;
}

/*CSS Grid Visualisation*/
/*
.container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgrey;
}
*/